body {
    font-size: 13px;
}

.sent_block {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: 20px;
}

.input {
    text-align: center;
    border-style: solid;
    border-width: 3px;
    border-color: #BAD7EC;
    width: 260px;
    height: 30px;
}


.input:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

.input::placeholder {
    text-align: start;
}

.sent_button {
    cursor: pointer;
    text-align: center;
    color: #000000;
    background-color: #BAD7EC;
    margin-left: 10px;
    box-shadow: none;
    border: none;
    width: 100px;
    height: 38px;
}

.geo_button {
    cursor: pointer;
    text-align: center;
    background-color: #BAD7EC;
    margin-left: 5px;
    box-shadow: none;
    border: none;
    width: 100px;
    height: 38px;
}


.chat {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    background-color: #FFFFFF;
    height: 350px;
    width: 485px;
    box-shadow: none;
    border-color: #BAD7EC;
    border-width: 3px;
    border-style: solid;
    padding: 10px;
    box-sizing: border-box;
    overflow-y: scroll;
}



.user_message {
    align-self: flex-end;
    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    border-color: #BAD7EC;
    padding: 5px;
    margin-top: 5px;
}


.server_message {
    align-self: flex-start;
    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    border-color: #BAD7EC;
    padding: 5px;
    margin-top: 5px;
}

.geo {
    align-self: flex-end;
    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    border-color: #BAD7EC;
    padding: 5px;
    margin-top: 5px;
    color: #4883C3;
}

a {
    text-decoration: none;
    color: #4883C3;
}